# Database Configuration
DATABASE_URL=postgresql://beehubuser:beehubpassword@localhost:5432/beehub

# Keycloak Configuration
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM_NAME=beehub-realm
KEYCLOAK_CLIENT_ID=beehub-client
KEYCLOAK_CLIENT_SECRET=mdwpKGM4w6HBAy0AY8lVA2HHDR3jNPr1

# Debug Configuration
ENABLE_DEBUGPY=false

# Legacy Configuration (if needed)
SECRET_KEY=bba68e33d16b41a78ff8f0c9f3d0b1e2fc842de0176488ebc86e6c9b55d1e97c
ALGORITHM=HS256

# Email Configuration (Microsoft Graph API)
EMAIL_SENDER=noreply@irede.org.br
EMAIL_CLIENT_ID=5850e39a-1be6-405d-b7e6-baddf90f5113
EMAIL_CLIENT_SECRET=seu-email-client-secret
EMAIL_TENANT_ID=6635641d-db4a-45e4-8fd0-a0b32a2214c2 